@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
  box-sizing:border-box;
  padding:0;
  margin:0;
  font-family:"Josefin Sans",Sans-serif;
}
.wrapper
{
  max-width:500px;
  width:100%;
  margin:auto;
  padding:20px;
  background:#fff;
  box-shadow:1px 1px 2px rgba(0,0,0,0.125);
}
.title{
  font-size:40px;
  font-family:'Courgette' ;
 margin-top:10px;
  font-weight:700;
  margin-bottom:5px;
  color:#191970;
  text-transform:uppercase;
  text-align:center;
  margin-bottom:10px;
}
p{
  text-align: justify;
  font-style:'Courgette';
  font-size:25px;
}
.col{
  display:flex;
}
.para{
  font-weight:500;
  font-style:'Itim';
}
button{
  margin-top:5px;
  display:flex;
  flex-direction:column;
  padding:20px;
  background-color:#191970;
  width:100%;
  align-items:center;
  justify-content:center;
  font-family: 'Courgette';
  color:#fff;
  font-size:30px;
}
.style{
  width: 200px;;
  height:100px;
  padding:5px;
}